<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <% if (messageGreen) { %>
        <div class="message-green"><%= messageGreen %></div>
    <% } %>
    <h1><%= data.username %></h1>
    <p>level: <%= data.level %></p>
    <p>money: <%= data.money %></p>
    <form action="account" method="POST">
        <input type="email" name="email" id="email" value="<%= data.contact %>">
        <input type="text" name="pin" id="pin" placeholder="See /pin in game">
        <input type="submit" value="update email">
    </form>
    <a href="/logout">logout</a>
</body>
</html>
