<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fokkonaut's playground</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partial/navbar', {data: data}); %>
    <div class="wrapper">
        <div class="content-landing">
            <!-- <h1>F-DDrace</h1> -->
            <%- whitelistMessage %>
            <div class="icon-box">
                <a href="https://discord.gg/qccRrtb"><img src="/teecord.png" class="img-link discord-icon icon" alt="discord" /></a>
                <form action="https://paypal.me/fokkonaut/" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="VUE6H3V2JAR3E" />
                    <input type="image" src="/paypal.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" class="paypal-icon icon" />
                    <img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>
        <!--
            <iframe width="720px" height="600px" src="<%= captchaBackend %>/?t=<%= token %>&callback=<%= hostname %>&ip=<%= serverIp %>" scrolling="no" frameborder="0"></iframe>
        -->
    </div>
</body>
</html>
