<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>survey</title>
</head>
<body>
    <h1>F-DDrace survey</h1>
    <form action="#" method="POST">

        <% questions.forEach((question, i) => { %>
            <label for="question<%= i %>"><%= question %>:</label>
            <input type="text" class="complete-players complete-<%= i %>" name="questions[]" id="question<%= i %>" value="<%= answers[`question${i}`] %>">
            <ul class="complete-players complete-<%= i %>"></ul>
        <% }) %>
        <% if (isEdit) { %>
            <input type="submit" value="update">
        <% } else { %>
            <input type="submit" value="submit">
        <% }%>
    </form>
    <script src="players.js"></script>
</body>
</html>
